.inputs {
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carsContainer {
  width: 100%;
  padding: 30px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submitBtn {
  padding: 15px 145px;
  height: 60px;
  border-radius: 70px;
  font-size: 25px;
}
.cars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
}

.formControl {
  width: 80%;
  height: 60px;
  display: flex;
}

.car {
  opacity: 0.5;
  transition: 0.3s opacity;
}

.car:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}
