.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 114px;
}

h1 {
  margin-bottom: 57px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 355px;
}

.submitBtn {
  text-align: center;
  vertical-align: middle;
  height: 60px;
  border-radius: 70px;
  font-size: 25px;
  margin-bottom: 33px;
}


.submitBtn:hover {
  background: #ffa842;
}

.forgetPsd {
  color: #828282;
  align-self: flex-end;
  margin-bottom: 46px;
}

.newUser {
  align-self: center;
}

.signup {
  color: #fdbf5a;
}

.input {
  margin-bottom: 25px;
}

.lastInput {
  margin-bottom: 13px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}
