.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 90px 115px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  height: 60px;
  border-radius: 70px;
  font-size: 25px;
  padding: 18px 90px;
}
